type akmd, domain;
type akmd_exec, exec_type, file_type;

init_daemon_domain(akmd)

allow akmd system_file:file rx_file_perms;
allow akmd akmd_device:chr_file rw_file_perms;
allow akmd sensor_device:chr_file rw_file_perms;
allow akmd system_data_file:dir rw_dir_perms;
allow akmd system_data_file:file { create rw_file_perms setattr };
