# Additional rules for surfaceflinger
allow surfaceflinger self:process execmem;
allow surfaceflinger vpu_device:chr_file rw_file_perms;
allow surfaceflinger device:dir r_dir_perms;
allow surfaceflinger ddr_device:chr_file rw_file_perms;
allow surfaceflinger rga_device:chr_file rw_file_perms;
allow surfaceflinger ipp_device:chr_file rw_file_perms;
allow surfaceflinger sysfs:file rw_file_perms;
allow surfaceflinger default_prop:property_service set;
