# Additional system_app rules
allow system_app ctl_default_prop:property_service set;
allow system_app log_data_file:dir r_dir_perms;
allow system_app log_data_file:file r_file_perms;
allow system_app logconfig:unix_stream_socket connectto;
allow system_app logconfig_socket:sock_file write;
allow system_app rpcd_data_file:sock_file write;
allow system_app rpc:unix_stream_socket connectto;
#allow system_app self:unix_stream_socket connectto;
allow system_app self:netlink_kobject_uevent_socket { create setopt bind read };
#allow system_app sysfs:file rw_file_perms;

allow system_app sysfs_devices_system_cpu:file { write };
allow system_app media_rw_data_file:file r_file_perms;
allow system_app media_rw_data_file:dir r_dir_perms;
allow system_app cache_file:dir w_dir_perms;
allow system_app cache_file:file create_file_perms;
allow system_app thermal_file:file rw_file_perms;
allow system_app pekallfmrserver:binder { call transfer };
allow system_app default_prop:property_service { set };
