# Additional rules for untrusted_app
allow untrusted_app logcat_exec:file { read open execute execute_no_trans getattr };
allow untrusted_app pekallfmrserver:binder { call transfer };
allow untrusted_app toolbox_exec:file { read getattr open execute execute_no_trans };
allow untrusted_app kernel:system { module_request };
allow untrusted_app binfmt_misc:dir { search };
allow untrusted_app binfmt_misc:file { read open };
allow untrusted_app video_device:chr_file { read write open ioctl };
