allow zygote camdata_file:dir r_dir_perms;
allow zygote camdata_file:file r_file_perms;
allow zygote self:process execmem;
allow zygote property_socket:sock_file { write };
allow zygote system_prop:property_service { set };
allow zygote init:unix_stream_socket { connectto };
