import init.${ro.hardware}.usb.rc
import init.${ro.hardware}.environment.rc

on early-init
    export SECOND_VOLUME_STORAGE /mnt/external_sd
    mkdir /mnt/external_sd 0000 system system
    export THIRD_VOLUME_STORAGE /mnt/usb_storage
    mkdir /mnt/usb_storage 0000 system system

on init
    # start watchdogd
    mkdir /metadata 0770 root root

    # for adobe reader mobile
    export RK_ADOBE_DE_MOBILE 1
    export EBOOK_PAGE_VISIBLE_NUMBER 2　
    export RK_ADEPT_DEVICE_TYPE mobile
    export RK_ADOBE_DE_DOC_FOLDER "/mnt/sdcard/Digital Editions"
    export RK_ADEPT_ACTIVATION_FILE /mnt/sdcard/.adobe-digital-editions/activation.xml
    export RK_ADEPT_DEVICE_FILE /mnt/sdcard/.adobe-digital-editions/device.xml
    export RK_ADEPT_DEVICE_SALT_FILE /mnt/sdcard/.adobe-digital-editions/devicesalt
    export ADOBE_FONTS_DIR  /system/fonts/adobefonts/

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/internal_sd 0000 system system
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root


on post-fs
    # Swap in only 1 page at a time
    write /proc/sys/vm/page-cluster 0

on post-fs-data
    # Now that are booted all the way and out of mount panics, ensure that we panic on later errors.
    # This is a hack to work around the fact that we can't recover from all errors that would lead to a panic
    # during the initial mount (http://b/17382778), yet we need to panic on emmc errors (http://b/17640053)
    # For a remount only the flags and the target mount point are relevant.
    mount dummy dummy /data remount nosuid nodev noatime rw seclabel,background_gc=on,user_xattr,acl,errors=panic

    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

    mkdir /data/camera 0775 media camera
  
    setprop vold.post_fs_data_done 1

on boot
    setprop UserVolumeLabel "RockChips"

    # bluetooth
    # change back to bluetooth from system
    chown bluetooth net_bt_stack /data/misc/bluetooth

    # power down interface
    # write /sys/class/rfkill/rfkill0/state 0

    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=755

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0


# create virtual SD card at /mnt/sdcard, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service charger /charger
    class charger
    seclabel u:r:healthd:s0

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /sbin/watchdogd 10 20
    class core
    disabled
    seclabel u:r:watchdogd:s0


# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -p -B \
        -o /data/data/com.android.shell/files/bugreports/bugreport
    class late_start
    disabled
    oneshot
    keycodes 114 115 116

service wfd /system/bin/wfd
    class main
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -aABDKL
    class late_start
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# $_rbox_$_modify_$_lly: added 2015-03-10, for adding the mass storage supporting.
on property:ro.target.product=box
    mount tmpfs tmpfs /mnt/usb_storage mode=0555,uid=1013,gid=1023
    export THIRD_VOLUME_STORAGE /mnt/USB_DISK0
    mkdir /mnt/usb_storage 0755 system system

on property:ro.factory.hasUMS=false
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    mount rootfs rootfs / ro remount

on property:ro.factory.hasUMS=cdrom
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    mount rootfs rootfs / ro remount

on property:ro.factory.hasUMS=true
    symlink /mnt/internal_sd /sdcard
    symlink /mnt/internal_sd /mnt/sdcard
    symlink /mnt/internal_sd /storage/sdcard0
    symlink /mnt/internal_sd /storage/emulated/legacy
    mount rootfs rootfs / ro remount
    stop sdcard


# Binding fuse mount point to /storage/emulated/legacy
#on property:init.svc.sdcard=running
#    wait /mnt/shell/emulated/0
#    mount none /mnt/shell/emulated/0 /storage/emulated/legacy bind

on property:ro.boot.charger.emmc=1
    mount ext4 /dev/block/platform/emmc/by-name/system /system wait ro noatime nodiratime
    start console
    mount ext4 /dev/block/platform/emmc/by-name/metadata /metadata wait noatime nodiratime nosuid nodev noauto_da_alloc,discard
    mount ext4 /dev/block/platform/1021c000.rksdmmc/by-name/metadata /metadata wait noatime nodiratime nosuid nodev noauto_da_alloc,discard
    mount ext4 /dev/block/platform/1021c000.rksdmmc/by-name/userdata /data wait noatime nodiratime nosuid nodev noauto_da_alloc,discard
    start charger

on property:ro.boot.charger.emmc=0
    insmod /rk30xxnand_ko.ko
    mount ext4 mtd@system /system wait ro noatime nodiratime noauto_da_alloc
    start console
    mount ext4 mtd@metadata /metadata wait noatime nodiratime nosuid nodev noauto_da_alloc
    mount ext4 /dev/block/rknand_metadata /metadata wait noatime nodiratime nosuid nodev noauto_da_alloc,discard
    mount ext4 /dev/block/rknand_userdata /data wait noatime nodiratime nosuid nodev noauto_da_alloc,discard
    start charger

on charger
    setprop ro.boot.charger.emmc 0
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    setprop sys.usb.config mass_storage

service akmd /system/bin/akmd
    class main
    user system
    group system
    oneshot
    seclabel u:r:akmd:s0

on property:sys.gmali.performance=ui
    start pat_ui

service pat_ui /system/bin/performance ui
    disabled
    oneshot

on property:sys.gmali.performance=video
    start pat_video

service pat_video /system/bin/performance video
    disabled
    oneshot

#factory
on property:ro.factory.tool=1     
    write /sys/class/gsensor_class/orientation gsensor={-1,0,0,0,0,1,0,-1,0}
    write /sys/devices/platform/rk29-keypad/rk29key {menu:MENU,home:HOME,vol+:VOLUP,vol-:VOLDOWN,play:PLAY,esc:ESC,sensor:CAMERA}
    write /sys/devices/platform/rk29_backlight/rk29backlight 100

on property:ro.rk.btchip=broadcom.bplus
    start gpsd

service gpsd  /system/bin/glgps -c /system/etc/gps/gpsconfig.xml
    class main
    disabled
    user root
    group system

#stresstest
service getbootmode /system/bin/getbootmode.sh
    disabled
        oneshot
